<h1>Privacy Policy - Draft</h1>
At <%= @company_name %> data security is a priority. We recognize the importance of protecting your personal information and we are
committed to process it responsibly and in compliance with data protection laws applicable in all countries in which
<%= @company_name %> operates.<br>
This Privacy Statement describes <%= @company_name %>'s general privacy practices that apply to personal
information collected, used and shared about consumers and other individuals who work for our customers,
business partners, suppliers and other companies with which <%= @company_name %> has or contemplates a business relationship.<br>
<br>
If you do not agree with this policy, do not access or use our Services or interact with any other aspect of our business.<br>
<br>
<h2>What information we collect about you</h2>
We collect information about you when you provide it to us,
when you use our Services, and when other sources provide it to us, as further described below.<br>
<br>
<h3>Information you provide to us</h3>
We collect information about you when you input it into the Services or otherwise provide it directly to us.<br>
<br>
<h5>Account and Profile Information:</h5>
We collect information about you when you register for an account, create or modify your profile, set preferences,
sign-up for or make purchases. For example, you provide your contact information and, in some cases,
billing information, when you register for the Services.
You also have the option of adding a display name, profile photo, and other details to your profile information
to be displayed in our Services.  We keep track of your preferences when you select settings within the Services.<br>
<br>
<h5>Content you provide through our products:</h5>
The Services include the <%= @company_name %> products you use.
This content includes any information about you that you may choose to include.
Examples of content we collect and store include: the summary and description added to a JourneyCtrl journey,
and any feedback you provide to us. Content also includes the files and links you upload to the Services.<br>
<br>
<h5>Content you provide through our websites:</h5>
The Services also include our websites owned or operated by us.
We collect other content that you submit to these websites.
For example, you provide content to us when you provide feedback or when you participate in any interactive features,
surveys, contests, promotions, sweepstakes, activities or events.<br>
<br>
<h3>Information we collect automatically when you use the Services</h3>
We collect information about you when you use our Services,
including browsing our websites and taking certain actions within the Services.<br>
<br>
<h5>Your use of the Services:</h5>
We keep track of certain information about you when you visit and interact with any of our Services.
This information includes the features you use; the links you click on; the type,
size and filenames of attachments you upload to the Services;
frequently used search terms; and how you interact with others on the Services.
We also collect information about the teams and people you work with and how you work with them,
like who you collaborate with and communicate with most frequently.<br>
<br>
<h5>Device and Connection Information:</h5>
We collect information about your computer, phone, tablet, or other devices you use to access the Services.
This device information includes your connection type and settings when you install, access, update,
or use our Services. We also collect information through your device about your operating system, browser type,
IP address, URLs of referring/exit pages, device identifiers, and crash data.
We use your IP address and/or country preference in order to approximate your location to provide you with a
better Service experience.
How much of this information we collect depends on the type and settings of the device you use to access the Services.<br>
<br>
<h5>Cookies and Other Tracking Technologies:</h5>
<%= @company_name %> and our third-party partners, such as our advertising and analytics partners,
use cookies and other tracking technologies (e.g., web beacons, device identifiers and pixels) to provide
functionality and to recognize you across different Services and devices.
For more information, please see our Cookies and Tracking Notice,
which includes information on how to control or opt out of these cookies and tracking technologies.<br>
<br>
<h2>How we use information we collect</h2>
How we use the information we collect depends in part on how you use them,
and any preferences you have communicated to us.  <br>
Below are the specific purposes for which we use the information we collect about you.<br>
<br>
<h3>To provide the Services and personalize your experience:</h3>
We use information about you to provide the Services to you, including to process transactions with you,
authenticate you when you log in, and operate, maintain, and improve the Services.
For example, we use the name and picture you provide in your account to identify you to other Service users.
Our Services also include tailored features that personalize your experience, enhance your productivity,
and improve your ability to collaborate effectively with
others by automatically analyzing activity feeds, notifications, connections and recommendations
that are most relevant for you.
For example, we may use your email domain to infer your affiliation with a particular organization or
industry to personalize the content and experience you receive. <br>
<br>
<h3>For research and development:</h3>
We are always looking for ways to make our Services smarter, faster, secure, integrated, and useful.
We use information and collective learnings (including feedback) about how people use our Services to troubleshoot,
to identify trends, usage, activity patterns, and areas for integration and to improve our
Services and to develop new products, features and technologies that benefit our users and the public. <br>
<br>
<h3>To communicate with you about the Services:</h3>
We use your contact information to send transactional communications via email and within the Services,
including confirming your purchases, reminding you of subscription expirations, responding to your comments,
questions and requests, providing customer support, and sending you technical notices, updates, security alerts,
and administrative messages.
We also send you communications as you onboard to a particular Service to help you become more proficient
in using that Service. These communications are part of the Services and in most cases you cannot opt out of them.
If an opt out is available, you will find that option within the communication itself or in your account settings.<br>
<br>
<h3>To market, promote and drive engagement with the Services:</h3>
We use your contact information and information about how you use the Services to send promotional communications
that may be of specific interest to you, including by email and by displaying <%= @company_name %> ads on
other companies' websites and applications.
These communications may be informed by audits of interactions (like counting ad impressions),
and are aimed at driving engagement and maximizing what you get out of the Services,
including information about new features, survey requests, newsletters, and events we think may be of interest to you.
We also communicate with you about new Services, product offers, promotions, and contests.
You can control whether you receive these communications as described below under "Opt-out of communications."<br>
<br>
<h3>For safety and security:</h3>
We use information about you and your Service use to verify accounts and activity, to detect, prevent,
and respond to potential or actual security incidents and to monitor and protect against other malicious,
deceptive, fraudulent or illegal activity, including violations of Service policies.<br>
<br>
<h3>To protect our legitimate business interests and legal rights:</h3>
Where required by law or where we believe it is necessary to protect our legal rights,
interests and the interests of others, we use information about you in connection with legal claims,
compliance, regulatory, and audit functions, and disclosures in connection with the acquisition,
merger or sale of a business.<br>
<br>
<h3>With your consent:</h3>
We use information about you where you have given us consent to do so for a specific purpose not listed above.
For example, we may publish testimonials or featured customer stories to promote the Services, with your permission.<br>
<br>
<h4>Legal bases for processing (for EEA users):</h4>
If you are an individual in the European Economic Area (EEA),
we collect and process information about you only where we have legal bases for doing so under applicable EU laws.
This means we collect and use your information only where:<br>
<br>
We need it to provide you the Services, including to operate the Services,
provide customer support and personalized features and to protect the safety and security of the Services;<br>
It satisfies a legitimate interest (which is not overridden by your data protection interests),
such as for research and development, to market and promote the Services and to protect our
legal rights and interests;<br>
You give us consent to do so for a specific purpose; or<br>
We need to process your data to comply with a legal obligation.<br>
<br>
If you have consented to our use of information about you for a specific purpose,
you have the right to change your mind at any time, but this will not affect any processing that has already taken place.
Where we are using your information because we or a third party (e.g. your employer) have a legitimate interest to do so,
you have the right to object to that use though, in some cases, this may mean no longer using the Services.<br>
<br>
<h2>How we share information we collect</h2>
<%= @company_name %> do not share the information we collect with any other business, partner or 3rd party.<br>
<br>
<h2>How we store and secure information we collect</h2>
<h3>Information storage and security</h3>
We use industry standard technical and organizational measures to secure the information we store.
While we implement safeguards designed to protect your information, no security system is impenetrable
and due to the inherent nature of the Internet, we cannot guarantee that information,
during transmission through the Internet or while stored on our systems or otherwise in our care,
is absolutely safe from intrusion by others.<br>
<br>
<h3>How long we keep information</h3>
How long we keep information we collect about you depends on the type of information,
as described in further detail below.  After such time, we will either delete or anonymize your information or,
if this is not possible (for example, because the information has been stored in backup archives),
then we will securely store your information and isolate it from any further use until deletion is possible.<br>
<br>
<h4>Account information:</h4>
We retain your account information for as long as your account is active and a reasonable
period thereafter in case you decide to re-activate the Services.
We also retain some of your information as necessary to comply with our legal obligations,
to resolve disputes, to enforce our agreements, to support business operations,
and to continue to develop and improve our Services.
Where we retain information for Service improvement and development,
we take steps to eliminate information that directly identifies you,
and we only use the information to uncover collective insights about the use of our Services,
not to specifically analyze personal characteristics about you.<br>
<br>
<h4>Marketing information:</h4>
If you have elected to receive marketing emails from us, we retain information about your marketing preferences
for a reasonable period of time from the date you last expressed interest in our Services,
such as when you last opened an email from us or ceased using your <%= @compaby_name %> account.
We retain information derived from cookies and other tracking technologies for a reasonable period
of time from the date such information was created.<br>
<br>
<h2>How to access and control your information</h2>
You have certain choices available to you when it comes to your information.
Below is a summary of those choices, how to exercise them and any limitations.<br>
<br>
<h3>Your Choices:</h3>
You have the right to request a copy of your information,
to object to our use of your information (including for marketing purposes),
to request the deletion or restriction of your information,
or to request your information in a structured, electronic format.
Below, we describe the tools and processes for making these requests.
You can exercise some of the choices by logging into the Services and using settings available
within the Services or your account.
You may contact us as provided in the Contact Us section below to request assistance.<br>
<br>
<h4>Your request and choices may be limited in certain cases:</h4>
for example, if fulfilling your request would reveal information about another person,
or if you ask to delete information which we are permitted by law or have compelling legitimate interests to keep.
If you have unresolved concerns, you may have the right to complain to a data protection authority
in the country where you live, where you work or where you feel your rights were infringed.<br>

<h4>Access and update your information:</h4>
Our Services give you the ability to access and update
certain information about you from within the Service. For example, you can access your profile information
from your account and search for content containing information about you using key word searches in the Service.
You can update your profile information within your profile settings and modify content that contains i
nformation about you using the editing tools associated with that content.

<h4>Deactivate your account:</h4>
If you no longer wish to use our Services, you or your administrator may be able to deactivate your Services account.
If you can deactivate your own account, that setting is available to you in your account profile.<br>
<br>
<h4>Request that we stop using your information:</h4>
In some cases, you may ask us to stop accessing, storing,
using and otherwise processing your information where you believe we don't have the appropriate rights to do so.
For example, if you believe a Services account was created for you without your permission or
you are no longer an active user, you can request that we delete your account as provided in this policy.
Where you gave us consent to use your information for a limited purpose,
you can contact us to withdraw that consent,
but this will not affect any processing that has already taken place at the time.
You can also opt-out of our use of your information for marketing purposes by contacting us,
as provided below.
When you make such requests, we may need time to investigate and facilitate your request.
If there is delay or dispute as to whether we have the right to continue using your information,
we will restrict any further use of your information until the request is honored or the dispute is resolved,
provided your administrator does not object (where applicable).  <br>
<br>
<h4>Opt out of communications:</h4>
You may opt out of receiving promotional communications from us by using the unsubscribe link within each email,
updating your email preferences within your Service account settings menu,
or by contacting us as provided below to have your contact information removed from our promotional
email list or registration database.
Even after you opt out from receiving promotional messages from us,
you will continue to receive transactional messages from us regarding our Services.
You can opt out of some notification messages in your account settings.
Please note, you will continue to receive generic ads.<br>
<br>
<h4>Turn off Cookie Controls:</h4>
<h5>Cookies and Other Tracking Technologies:</h5>
<%= @company_name %>> use various technologies to collect information, such as cookies and web beacons.<br>
<br>
What types of technologies do we use?<br>
<br>
We use cookies, web beacons and other technologies to improve and customize our products and websites ("the Services")
and your experience; to allow you to access and use the Services without re-entering your username or password;
to understand usage of our Services and the interests of our customers;
to determine whether an email has been opened and acted upon;
and to present you with advertising relevant to your interests.<br>
<br>
<h6>How do we use them?</h6>>
<h7>Where strictly necessary.</h7>
These cookies and other technologies are essential in order to enable the Services to provide the feature you have requested,
such as remembering you have logged in. <br>
<br>
<h7>For functionality.</h7>
These cookies and similar technologies remember choices you make such as language or search parameters.
We use these cookies to provide you with an experience more appropriate with your selections and to make your use of the
Services more tailored.<br>
<br>
<h7>For performance and analytics.</h7>
These cookies and similar technologies collect information on how users interact with the Services and enable us to
improve how the Services operate. For example, we use Google Analytics cookies to help us understand how visitors
arrive at and browse our products and website to identify areas for improvement such as navigation, user experience,
and marketing campaigns.<br>
<br>
<h7>Targeting Cookies or Advertising Cookies.</h7>
These cookies collect information about your browsing habits in order to make advertising relevant to you and your interests.
They remember the websites you have visited and that information is shared with other parties such as advertising
technology service providers and advertisers.<br>
<br>
<h7>Social media cookies.</h7>
These cookies are used when you share information using a social media sharing button or “like” button on our
websites or you link your account or engage with our content on or through a social media site.
The social network will record that you have done this.
This information may be linked to targeting/advertising activities.<br>
<br>
<h6>How can you opt-out?</h6>
To opt-out of our use of cookies, you can instruct your browser, by changing its options,
to stop accepting cookies or to prompt you before accepting a cookie from websites you visit.
If you do not accept cookies, however, you may not be able to use all aspects of our Services.
<%= @company_name %> also collect information using web beacons (also known as "tracking pixels").<br>
<br>
Many browsers include their own management tools for removing HTML5 local storage objects.
To manage "flash cookies" please click here.
You may be able to opt out of receiving personalized advertisements as described in the Privacy Policy under
"Your Choices."<br>
<br>
You will not be able to opt-out of any cookies or other technologies that are “strictly necessary” for the Services.<br>
<br>

<h2>Contact Us</h2>

Your information is controlled by <%= @company_name %>.
If you have questions or concerns about how your information is handled, please direct your inquiry to <%= @company_name %>.<br>
<br>
<%= @company_name %><br>
E-Mail: <%= ENV["SUPPORT_EMAIL"] %>





