<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper: :input_group, html: { method: :put, class: 'form-horizontal', multipart: true }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :name,
                required: true,
                input_html: { autocomplete: "name" }%>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-4">
          <% if resource.avatar? %>
            <%= image_tag resource.avatar.url, class: "rounded imagesize-medium"  %>
          <% else %>
            <%= image_tag gravatar_image_url(resource.email), class: "rounded imagesize-medium" %>
          <% end %>
        </div>
        <div class="col-sm-8">
          <%= f.file_field :avatar %>
        </div>
      </div>
    </div>

    <% if f.object.password_required? %>
      <div class="row">
        <div class="col-12 col-md-6">
          <%= f.input :password,
                      placeholder: "leave it blank if you don't want to change it",
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      label: "New password",
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="col-12 col-md-6">
          <%= f.input :password_confirmation,
                      label: "New password confirmation",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
        </div>
      </div>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", :class => 'btn-primary' %>
  </div>
<% end %>

<br>
<h3>Cancel my account</h3>

<p>Unhappy?
<div class="form-actions">
  <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-warning' %>
</div>
</p>
<%= link_to "Back", :back %>
