
<div class="dialog">
  <h1>500 - Internal Server Error.</h1>
  <p>Date:<br>
    <%=@date %>
  </p>
  <p>Error message:<br>
    <%=@message %>
  </p>
  <p>File:<br>
    <%=@file %>
  </p>
  <p>Line number:<br>
    <%=@line_number %>
  </p>
  <p>Backtrace:<br>
    <%=@backtrace %>
  </p>
  <p>Error source:<br>
    <%=@source_extracts %>
  </p>
</div>
