

  <% if user_signed_in? %>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="<%= dashboard_path %>">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="ConfigDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="ConfigDropdown">
          <a class="dropdown-item" href="#">Settings 1</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Setings 2</a>
        </div>
      </li>
    </ul>
  <% end %>

  <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
  <% if user_signed_in? %>
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="UserDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i> <%= current_user.email %>
        </a>
        <div class="dropdown-menu" aria-labelledby="UserDropdown">
          <a class="dropdown-item" href="<%= edit_user_registration_path %>" id="menu_profile"">Edit profile</a>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete, class: "nav-link", id: "menu_logout"  do %>
          <i class="fa fa-sign-out"></i>&nbsp;Logout
        <% end %>
      </li>
    <% else %>
      <li class="nav-item">
        <a href="<%= new_user_registration_path %>" class="nav-link" id="menu_signup"><i class="fa fa-user-plus"></i>&nbsp;Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="<%= new_user_session_path %>" class="nav-link" id="menu_ogin">&nbsp;&nbsp;<i class="fa fa-sign-in"></i>&nbsp;Login</a>
      </li>
    <% end %>
  </ul>