<!DOCTYPE html>
<html>
<%= render 'layouts/app_head' %>
<body class="site-margin">
  <%= render 'layouts/site_nav' %>
  <%= render 'layouts/messages' %>
  <%= yield %>
  <%= render 'layouts/app_footer' %>
</body>
</html>
